@using SafraEmprestimo.Domain.Emprestimos
@using SafraEmprestimo.Domain.Dtos
@using SafraEmprestimo.Web.Util
@model SafraEmprestimo.Web.Util.PaginatedList<EmprestimoParaListagemDto>
@{
    ViewData["Title"] = "Empréstimos";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/Emprestimos" class="btn">Voltar</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="/Emprestimo/Novo" class="btn btn-primary">Novo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Qtd Parcelas</th>
                        <th>Data Primeiro Vencimento</th>
                        <th>Status</th>
                        <th>Valor</th>
                        <th>Valor Total com Juros</th>
                        <th>Valor Juros</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.TipoCredito
                            </td>
                            <td>
                                @item.QuantidadeParcelas
                            </td>
                            <td>
                                @item.DataPrimeiroVencimento
                            </td>
                            <td>
                                @item.StatusCredito
                            </td>
                            <td>
                                @item.Valor
                            </td>
                            <td>
                                @item.ValorTotalComJuros
                            </td>
                            <td>
                                @item.ValorJuros
                            </td>
                            <td>
                                <a href="/Emprestimo/Editar/@item.Id" class="btn">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Anterior
            </a>
            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Próximo
            </a>
        </div>
    </div>
</div>



